# Compiled Object files.
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries.
*.so
*.dylib
*.dll

# Compiled Static libraries.
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/
phaser_core_lib.dir/
ZERO_CHECK/
phaser_core_driver.dir/
*.vcxproj.*
*.vcxproj
*Cmake*
# Temporary editor files.
*~
*.orig

# Compiled python.
tools/lint/autolintc
*.pyc

# Eclipse
.pydevproject
.project
.cproject
.settings

# CLion
.idea
cmake-build-debug

# QtCreator
CMakeLists.txt.user

*.mat
*.csv
*.asv
*.jpg

# MacOS Desktop Services Store.
.DS_Store

# Maplab temporary files.
*.vi_command_history
.vscode
.cquery_cache

# Registered PLY
registered.ply
