# Compiled Object files.
*.slo
*.log
*.tlog
*.lo
*.o
*.obj
*.pdb
# Compiled Dynamic libraries.
*.so
*.dylib
*.exp
# Compiled Static libraries.
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
.vs/
RelWithDebInfo/
Debug/
phaser_core_lib.dir/
phaser_common_lib.dir/
ZERO_CHECK/
phaser_core_driver.dir/
#*.vcxproj.*
#*.vcxproj
# Temporary editor files.
*~
*.orig
*.cmake
CMakeFiles/
CMakeCache.txt
# Compiled python.
tools/lint/autolintc
*.pyc

# Eclipse
.pydevproject
.project
.cproject
.settings

# CLion
.idea
cmake-build-debug

# QtCreator
CMakeLists.txt.user

*.mat
*.csv
*.asv
*.jpg

# MacOS Desktop Services Store.
.DS_Store

# Maplab temporary files.
*.vi_command_history
.vscode
.cquery_cache


phaser_core/RelWithDebInfo/phaser_core_lib.pdb
*.ply
*.blend
*.blend1